body {background: #558b2f;}

.container {
  margin: 1.5rem auto; padding: 1.5rem;
  background:#f1f8e9; color: #333; font-size: 1.25rem;
  width: 75%; max-width: 1000px;
  display: grid; grid-template-columns: 3fr 1fr; grid-gap: 1rem;}

header, .content, aside, footer {
  background: #9ccc65; padding: 1rem;}

header {
  grid-column: 1 / span 2; grid-row: 1;
  font-size: 2rem; line-height: 2;}

footer {grid-column: 1 / span 2; grid-row: 3;}

.content {display: grid; grid-template-columns: auto auto; grid-gap: 1rem;}

article {
  background:#f1f8e9; 
  padding: 2rem; text-align: center;}